.purchase-list {
  width: 80%;
  margin: 0 auto;
}

.purchase-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.purchase-item p {
  flex: 1;
  margin: 0;
}

.purchase-item input {
  width: 50px;
  margin-right: 10px;
}

.purchase-item button {
  background-color: #ff5252;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.purchase-item button:hover {
  background-color: #ff1744;
}
